<?xml version="1.0" ?>

<sdf version="1.4">
  <world name="default" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="utils_gdal_res" value="$(find utils_gdal)/res" />

    <!-- A global light source -->
    <include>
      <uri>model://sun</uri>
    </include>
    <!-- A ground plane -->
    <include>
      <uri>model://ground_plane</uri>
    </include>
    <plugin filename="libgazebo_dxf_map_plugin.so" name="gazebo_dxf">
      <map>${utils_gdal_res}/walls.dxf</map>
      <mesh_common>${utils_gdal_res}/mesh_common.dae</mesh_common>
      <material>BlueTransparent</material>
      <height>2.0</height>
      <mesh_name>map</mesh_name>
      <debug_sphere>false</debug_sphere>
    </plugin>
  </world>
</sdf>
